/* UTILITIES */
.box {
    height: 50px;
    background: gray;
    margin: 2px;
}

section {
    padding-top: 15px;
    padding-bottom: 15px;
}

.mg-bt {
    margin-bottom: 25px;
}

.section-gray {
    background: #f3f5f9;
}

.hblue-color {
    color: #031c4e;
}
/* TYPOGRAPHY */
body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 700;
    color: #fff;
}

h2,
h3,
h4,
h5 {
    font-weight: 700;
    color: #031c4e;
    padding-top: 25px;
}

h6 {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #8c929d;
}

/* BUTTONS */
.btn-header-img {
    width: 100%;
    max-width: 100%;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background: #579aff;
}

.btn-header-img-google {
    width: 100%;
    max-width: 100%;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 15px;
    box-shadow: 0.5px 0.5px #aaaaaa;
    border: none;
    border-radius: 5px;
    color: #626262;
    background: #fff;
}

/* HEADER */
/* NAV-BAR */
.nav-bar-header img {
    width: 100%;
    height: 30px;
    max-width: 100%;
    margin-top: 10px;
}

.fa-bars {
    font-size: 20px;
    padding-top: 14px;
    padding-left: 45px;
    color: #3a8aff;
}

/* HEADER BLUE IMG/H1 */
.img-bckg-header {
    background-image: url('../img/bg-banner-home.jpg');
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-bckg-header p {
    font-size: 18px;
    color: #bbcdff;
}

.box-white {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 60px;
    padding: 10px;
}

form-group {
    margin-bottom: 0;
}

/* BUTTONS BLUE IMG HEADER */
.btn-header-img-google img {
    width: 6%;
    height: 20px;
    max-width: 100%;
}

.btn-header-img-google span {
    padding-left: 24%;
}

/* MAIN */
/* TOP MAIN */
.top-main img {
    width: 100%;
    max-width: 100%;
}

.git-top-main {
    margin-top: -20px;
}

.hashi1-top-main {
    margin-top: 8px;
}

.hashi2-top-main {
    margin-top: 20px;
}

.splunk-top-main {
    margin-top: -90px;
}

.top-main a {
    font-weight: 500;
    color: #3a8aff;
}

/* SECOND MAIN BOX */
.second-main p {
    font-size: 18px;
    color: #66728e;
}

.second-main .row-second-main {
    margin-left: 3px;
    border-left: 1px solid #cccccc;
    padding-top: 20px;

}

.second-main .row-second-main a{
    font-size: 18px;
    color: #75809a;
}

.row-second-main-tablet-plus {
    margin-left: 65px;
    border-left: 1px solid #cccccc;
    padding-top: 20px;
}

.row-second-main-tablet-plus  a{
    font-size: 18px;
    color: #75809a;
}

.second-main h3 {
    font-weight: 500;
    padding-top: 0;
}

.img-box-second-main {
    margin-top: 25px;
}

.img-box-second-main h3 {
    font-size: 23px;
}
/* MID MAIN */
.mid-main h2 {
    margin-bottom: 25px;
}

.mid-main p {
    font-size: 18px;
    margin-bottom: 100px;
    color: #66728e;
}

.mid-main img {
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
}

.mid-main a {
    color: #031c4e;
}

.mid-main i {
    font-size: 30px;
    margin-top: 100px;
}

/* MID MAIN WHITE */
/* SMALL PICTURES MID MAIN WHITE */
.mid-main-white p {
    font-size: 16px;
    color: #75809a;
}

.mid-main-white a  {
    color: #006aff;
}

/* LOW MAIN */
.low-main {
    background: #0041bf;
}

.speed-tables {
    border-bottom: 1px solid #fff;
}

.low-main h2 {
    color: #fff;
}

.low-main h6 {
    margin-top: 2px;
    color: #fefeff;
}

.low-main span {
    font-size: 12px;
    color: #a9b9e1;
}

.low-main a {
    color: #00d7d2;
}

/* MEDIA QUERY DA 750PX --> 960PX */
@media screen and (min-width: 750px) and (max-width: 969px) {
    /* HEADER */
    /* NAV-BAR */
    .nav-bar-header img {
        width: 50%;
        height: 30px;
        max-width: 100%;
        margin-top: 5px;
    }

    .fa-bars {
        font-size: 25px;
        padding-top: 10px;
        padding-left: 60px;
        color: #3a8aff;
    }

   /* HEADER BLUE IMG/H1 */
   .img-bckg-header p {
    font-size: 23px;
    color: #bbcdff;
    }

    .box-white {
        width: 80%;
        background: #fff;
        border-radius: 5px;
        margin-top: 10px;
        margin-left: 60px;
        margin-bottom: 60px;
        padding: 30px;
    }

    .btn-header-img-google img {
        width: 9%;
        height: 20px;
        max-width: 100%;
    }
    
    .btn-header-img-google span {
        padding-left: 20px;
    }

    .link-under-google {
        font-size: 10px;
    }

    .link-under-google a {
        text-decoration-line: underline;
    }

    /* MAIN */
    /* TOP MAIN */
    .top-main h6 {
        font-size: 16px;
        font-weight: 500;
    }

    .top-main img {
        width: 100%;
        max-width: 100%;
    }
    
    .git-top-main {
        padding-top: 5px;
    }

    .slack-top-main {
        margin-top: -5px;
    }
    
    .hashi1-top-main {
        margin-top: 2px;
    }
    
    .hashi2-top-main {
        margin-top: 2px;
    }
    
    .splunk-top-main {
        margin-top: 13px;
    }

    /* SECONDARY MAIN BOX */
    .second-main .p-second {
        font-size: 23px;
        margin-bottom: 80px;
        color: #66728e;
    }
    
    .second-main p {
        font-size: 15px;
    }

    /* MID MAIN */
    .mid-main span {
        color: #031c4e;
        margin-bottom: 50px;
    }

    /* MID MAIN WHITE */
    /* SMALL PICTURES MID MAIN WHITE */
    .mid-main-white  h2 {
        font-size: 35px;
    }

    .mid-main-white  h4 {
        font-size: 22px;
    }

    .mid-main-white p {
        font-size: 16px;
        color: #75809a;
    }

    .mid-main-white a  {
        font-size: 17px;
        margin-bottom: 40px;
        color: #006aff;
    }

    /* LOW MAIN */
}  