/* UTILITIES */
section {
    padding-top: 15px;
    padding-bottom: 15px;
}

footer {
    background: #031c4e;
}

.mg-bt {
    margin-bottom: 25px;
}

.mg-bt-50 {
    margin-bottom: 50px;
}

.padding-0 {
    padding: 0;
}

.section-gray {
    background: #f3f5f9;
}

.hblue-color {
    color: #031c4e;
}
/* TYPOGRAPHY */
body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 700;
    color: #fff;
}

h2,
h3,
h4,
h5 {
    font-weight: 700;
    color: #031c4e;
    padding-top: 25px;
}

h6 {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #8c929d;
}

/* BUTTONS */
.btn-header-img {
    width: 100%;
    max-width: 100%;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background: #579aff;
}

.btn-header-img-google {
    width: 100%;
    max-width: 100%;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 15px;
    box-shadow: 0.5px 0.5px #aaaaaa;
    border: none;
    border-radius: 5px;
    color: #626262;
    background: #fff;
}

/* HEADER */
/* NAV-BAR */
.nav-bar-header img {
    width: 100%;
    height: 30px;
    max-width: 100%;
    margin-top: 10px;
}

.fa-bars {
    font-size: 20px;
    padding-top: 14px;
    padding-left: 45px;
    color: #3a8aff;
}

/* HEADER BLUE IMG/H1 */
.img-bckg-header {
    background-image: url('../img/bg-banner-home.jpg');
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-bckg-header p {
    font-size: 20px;
    margin-left: 30px;
    color: #bbcdff;
}

.box-white {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 60px;
    padding: 10px;
}

.box-white h2 {
    margin-top: -20px;
    font-size: 28px;
}

.box-white h3 {
    font-weight: 500;
    margin-top: -20px;
    color: #006aff;
}

form-group {
    margin-bottom: 0;
}

/* BUTTONS BLUE IMG HEADER */
.btn-header-img-google img {
    width: 6%;
    height: 20px;
    max-width: 100%;
}

.btn-header-img-google span {
    font-weight: 500;
    padding-left: 24%;
}

/* MAIN */
/* TOP MAIN */
.top-main h6 {
    font-size: 16px;
    font-weight: 500;
}

.top-main img {
    width: 100%;
    max-width: 100%;
}

.git-top-main {
    margin-top: -20px;
}

.hashi1-top-main {
    margin-top: 8px;
}

.hashi2-top-main {
    margin-top: 20px;
}

.splunk-top-main {
    height: 40px;
    margin-top: -100px;

}

.top-main a {
    font-weight: 500;
    color: #3a8aff;
}

/* SECOND MAIN BOX */
.second-main p {
    font-size: 18px;
    color: #66728e;
}

.second-main .row-second-main {
    margin-left: 3px;
    border-left: 1px solid #cccccc;
    padding-top: 20px;

}

.second-main .row-second-main a{
    font-size: 18px;
    color: #75809a;
}

.row-second-main-tablet-plus {
    margin-left: 65px;
    border-left: 1px solid #cccccc;
    padding-top: 20px;
}

.row-second-main-tablet-plus  a{
    font-size: 18px;
    color: #75809a;
}

.second-main h3 {
    font-weight: 500;
    padding-top: 0;
}

.second-main p {
    font-size: 13px;
    font-weight: 500;
}

.img-box-second-main {
    margin-top: 25px;
}

.img-box-second-main h3 {
    font-size: 23px;
}
/* MID MAIN */
.mid-main h2 {
    margin-bottom: 25px;
}

.mid-main p {
    font-size: 18px;
    margin-bottom: 100px;
    color: #66728e;
}

.mid-main img {
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
}

.mid-main span {
    color: #031c4e;
}

.mid-main a {
    color: #031c4e;
}

.mid-main i {
    font-size: 30px;
    margin-top: 100px;
}

/* CIRCLE ICONS MID MAIN SOTTO IMG */
.circle .fa-circle {
    display: inline-block;
    font-size: 12px;
    margin-top: 40px;
    margin-bottom: 50px;
    color: #006aff;
}

/* MID MAIN WHITE */
/* SMALL PICTURES MID MAIN WHITE */
.mid-main-white p {
    font-size: 16px;
    color: #75809a;
}

.mid-main-white a  {
    color: #006aff;
}

/* LOW MAIN */
.low-main {
    background: #0041bf;
}

.speed-tables {
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
}

.low-main h2 {
    color: #fff;
}

.low-main h6 {
    display: inline-block;
    margin-top: 2px;
    color: #fefeff;
}

.low-main span {
    font-size: 10px;
    color: #a9b9e1;
}

.low-main a {
    font-size: 10px;
    color: #00d7d2;
}

/* LOW MAIN GRAY*/
.low-main-gray h2 {
    margin-bottom: 50px;
}

.box-white-gray {
    width: 100%;
    height: 400px;
    max-width: 100%;
    background: #fff;
    border-radius: 5px;
}

.low-main-gray img {
    width: 100%;
    padding-top: 20px;
    margin-bottom: 10px;
}

.low-main-gray p {
    font-size: 22px;
    color: #75809a;
}

.low-main-gray h5 {
    margin-bottom: 0;
    color: #031c4e;
}

.low-main-gray span {
    display: block;
    font-size: 15px;
    margin-bottom: 13px;
    color: #031c4e;
}

.a-post-span {
    font-size: 16px;
    color: #006aff;
}

/* LOW MAIN GRAY CIRCLE ICONS */
.low-main-circle .fa-circle {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 60px;
    color: #006aff;
}

/* PRE FOOTER */
.pre-footer {
    background: #002ca7;
}

.pre-footer h2 {
    padding-top: 60px;
    color: #fff;
}

.pre-footer button {
    width: 180px;
    height: 40px;
    border-radius: 5px;
    border: none;
}

.pre-footer button a {
    color: #006aff;
}

/* FOOTER */
.footer-items {
    background: #031c4e;
}

.footer-items img {
    max-width: 100%;
    padding-top: 40px;
}

.footer-items h6 {
    font-size: 14px;
    text-transform: none;
    }

.footer-items span {
    font-size: 15px;
    color: #516080;
}

.footer-items ul li {
    padding: 5px;
}

.footer-items ul li a {
    font-size: 22px;
    color: #7a859d;
}

.footer-items h3 {
    color: #fff;
}

.ul-mid-footer {
    margin-top: 50px;
}

.ul-mid-footer h3 {
    font-size: 22px;
    margin-top: -70px;
}

.footer-items .ul-mid-footer li {
    margin-left: -30px;
    list-style: none;   
}

.footer-items .ul-mid-footer li a {
    font-size: 16px;
}

/* POSITION FIXED IMG */
.fixed-shark {
    position: fixed;
    width: 15%;
    height: 60px;
    left: 45px;
    bottom: 100px;
    border-radius: 5px;
    background: #006aff;
}

.fixed-shark img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 6px 0px;

}

.fixed-shark i {
    position: fixed;
    font-size: 20px;
    left: 90px;
    bottom: 140px;
    border: 4px solid #fff;
    border-radius:100%;
    color: red;
}

.fixed-shark i span {
    position: fixed;
    font-size: 13px;
    font-weight: 700;
    left: 101px;
    bottom: 148px;
    color: #fff;
}

.last-fixed {
    position: fixed;
    width: 80%;
    height: 60px;
    max-width: 80%;
    padding: 10px 5px;
    left: 45px;
    bottom: 20px;
    border-radius: 5px;
    background: #fff;
}

.last-fixed p {
    font-size: 14px;
    font-weight: 500;
    max-width: 100%;
    color: #031c4e;
}

/* INIZIO MEDIE QUERY */
/* MEDIA QUERY DA 750PX --> 960PX TABLET */
@media screen and (min-width: 750px) {
    /* HEADER */
    /* NAV-BAR */
    .nav-bar-header img {
        width: 50%;
        height: 30px;
        max-width: 100%;
        margin-top: 5px;
    }

    .fa-bars {
        font-size: 25px;
        padding-top: 10px;
        padding-left: 60px;
        color: #3a8aff;
    }

   /* HEADER BLUE IMG/H1 */
   .img-bckg-header p {
    font-size: 20px;
    }

    .img-bckg-header h1 {
        font-size: 35px;
        margin-left: 30px;
    }

    .box-white {
        width: 80%;
        background: #fff;
        border-radius: 5px;
        margin-top: 10px;
        margin-left: 60px;
        margin-bottom: 60px;
        padding: 30px;
    }

    .btn-header-img-google img {
        width: 9%;
        height: 20px;
        max-width: 100%;
    }
    
    .btn-header-img-google span {
        padding-left: 20px;
    }

    .link-under-google {
        font-size: 10px;
    }

    .link-under-google a {
        text-decoration-line: underline;
    }

    /* MAIN */
    /* TOP MAIN */
    .top-main img {
        width: 100%;
        max-width: 100%;
    }
    
    .git-top-main {
        padding-top: 5px;
    }

    .slack-top-main {
        margin-top: -5px;
    }
    
    .hashi1-top-main {
        margin-top: 2px;
    }
    
    .hashi2-top-main {
        margin-top: 2px;
    }
    
    .splunk-top-main {
        margin-top: 9px;
    }

    .top-main a {
        font-size: 18px;
    }

    /* SECONDARY MAIN BOX */
    .second-main .p-second {
        font-size: 23px;
        margin-bottom: 80px;
        color: #66728e;
    }
    
    .second-main p {
        font-size: 15px;
    }

    /* MID MAIN */
    .mid-main i {
        font-size: 50px;
    }

    /* MID MAIN WHITE */
    /* SMALL PICTURES MID MAIN WHITE */
    .mid-main-white  h2 {
        font-size: 35px;
        margin-top: 50px;
    }

    .mid-main-white  h4 {
        font-size: 22px;
    }

    .mid-main-white p {
        font-size: 16px;
        color: #75809a;
    }

    .mid-main-white a  {
        font-size: 17px;
        color: #006aff;
    }

    /* LOW MAIN */
    .speed-tables {
        border-bottom: 1px solid #fff;
        margin-bottom: 10px;
    }

    .low-main h2 {
        color: #fff;
    }

    .low-main h6 {
        display: inline-block;
        margin-top: 2px;
        color: #fefeff;
    }

    .low-main span {
        font-size: 10px;
        color: #a9b9e1;
    }

    .low-main a {
        font-size: 10px;
        color: #00d7d2;
    }

    /* LOW MAIN GRAY*/
    .low-main-gray h2 {
        margin-bottom: 50px;
    }

    .low-main-gray i {
        font-size: 50px;
        margin-top: 170px;
        color: #031c4e;
    }

    .box-white-gray {
        width: 100%;
        max-width: 100%;
        height: 350px;
        background: #fff;
        border-radius: 5px;
    }

    .low-main-gray img {
        width: 80%;
        padding-top: 20px;
        margin-bottom: 15px;
    }

    .low-main-gray p {
        font-size: 25px;
        color: #75809a;
    }

    .a-post-span {
        font-size: 16px;
        color: #006aff;
        margin-bottom: 20px;
    }

    /* LOW MAIN GRAY CIRCLE ICONS */
    .low-main-circle .fa-circle {
        margin-top: -50px;
    }

    /* PRE-FOOTER */
    .pre-footer h2 {
        font-size: 40px;
        font-weight: 500;
    }

    /* FOOTER */
    .footer-items ul li a {
        font-size: 26px;
        color: #7a859d;
    }

    /* POSITION FIXED IMG */
    .fixed-shark {
        width: 8%;
    }

    .last-fixed {
        width: 45%;
    }

    .last-fixed p {
        font-size: 16px;
    }
    
}  

/* MEDIA QUERY 970PX --> 1169PX MD */
@media screen and (min-width: 970px) {
    /* NAV-BAR */
    .nav-bar-header img {
        width: 100%;
        height: 30px;
        max-width: 100%;
        margin-top: 13px;
    }

    .nav-bar-header ul li {
        padding: 7px;
        padding-top: 20px;
    }

    .nav-bar-header ul li a  {
        font-size: 16px;
        text-decoration: none;
        color: #031c4e;
    }

    .btn-danger {
        background: #fff;
        border: 1px solid #006aff;
        color: #006aff;
        padding: 10px 20px;
        transition: background 1s;
    }

    .btn-danger:hover {
        background: #006aff;
        color: #fff;
        border: 1px solid #006aff;
    }

    /* HEADER BLUE IMG/H1 */
    .img-bckg-header h1 {
        font-size: 55px;
        margin-top: 80px;
    }

    /* BOX WHITE IMG */
    .box-white {
        height: 420px;
        margin-top: 40px;
    }

    .box-white h2 {
        margin-top: -20px;
    }

    .box-white h3 {
        font-size: 30px;
        margin-bottom: 0;
    }

    .box-white .form-group input {
        font-size: 16px;
        height: 50px;
    }

    .box-white .btn-header-img-google {
        margin-top: 10px;
    }

    .btn-header-img-google img {
        width: 20px;
    }

    .btn-header-img-google span {
        margin-left: 68px;
    }

    .link-under-google {
        font-size: 12px;
    }

    /* TOP MAIN */
    .docker-top-main {
        margin-top: 8px;
    }

    .top-main .slack-top-main {
        margin-top: 3px;
    }

    .hashi1-top-main {
        margin-top: 13px;
    }

    .hashi2-top-main {
        margin-top: 12px;
    }

    .splunk-top-main {
        margin-top: 33px;
    }

    /* SECOND MAIN BOX */
    .img-box-second-main-plus {
        margin-left: 290px;
    }

    .img-box-second-main-plus-2 {
        margin-left: 15px;
    }
    /* MID MAIN */
    .mid-main h2 {
        font-size: 35px;
    }

    .mid-main p {
        font-size: 20px;
        font-weight: 500;
    }

    .mid-main i {
        margin-top: 140px;
    }

/* CIRCLE ICONS MID MAIN SOTTO IMG */
    .circle .fa-circle {
        margin-top: -35px;
    }

    .circle .fa-circle:hover {
        cursor: pointer;
        transform: scale(1.5);
    }

    /* LOW MAIN */
    .low-main span {
        font-size: 12px;
    }

    /* LOW MAIN GRAY */
    .box-white-gray {
        height: 430px;
    }

    .low-main-gray h5 {
        font-size: 20px;
    }

    .low-main-gray img {
        max-width: 40%;
        padding-top: 80px;
    }

    .low-main-gray span {
        font-size: 18px;
        font-weight: 500;
    }

    /* LOW MAIN GRAY CIRCLE ICONS */
    .low-main-circle .fa-circle {
        margin-top: -50px;
    }

    .low-main-circle .fa-circle:hover {
        transform: scale(1.5);
        cursor: pointer;
    }

    /* PRE FOOTER */
    .pre-footer button a {
        text-decoration: none;
    }

    /* FOOTER */
    .ul-mid-footer {
        margin-top: 110px;
        margin-bottom: 100px;
    }

     /* POSITION FIXED IMG */
     .fixed-shark {
        width: 5%;
        left: 1000px;
        bottom: 21px;
    }

    .fixed-shark i {
        left: 1040px;
        bottom: 60px;
    }
    
    .fixed-shark i span {
        font-size: 14px;
        left: 1051px;
        bottom: 68px;
    }

    .last-fixed {
        width: 30%;
        left: 650px;
    }
}

/* MEDIA QUERY DA 1170PX -->  */
@media screen and (min-width: 1170px) {
    /* NAV BAR */
    .nav-bar-header img {
        height: 35px;
    }

    /* HEADER BLUE IMG */
    .img-bckg-header h1 {
        font-size: 65px;
        margin-top: 80px;
    }

    /* BOX WHITE BLUE IMG */
    .btn-header-img-google span {
        margin-left: 132px;
    }

    /* TOP MAIN */
    .git-top-main {
        margin-top: -25px;
    }

    .hashi1-top-main {
        margin-top: 18px;
    }

    .hashi2-top-main {
        margin-top: 18px;
    }

    .splunk-top-main {
        height: 50px;
        margin-top: 50px;
    }

    /* SECOND MAIN */
    .img-box-second-main-plus {
        margin-left: 345px;
    }

    .img-box-second-main-plus-2 {
        margin-left: 5px;
    }

    /* MID MAIN */
    .mid-main i {
        margin-top: 175px;
    }

    /* CIRCLE ICONS MID MAIN SOTTO IMG */
    .circle .fa-circle {
        font-size: 14px;
    }

    /* LOW MAIN GRAY*/
    .low-main-gray h2 {
        font-size: 40px;
        margin-bottom: 100px;
    }

    /* LOW MAIN GRAY CIRCLE ICONS */
    .low-main-circle .fa-circle {
        font-size: 14px;
    }

     /* POSITION FIXED IMG */
     .fixed-shark {
        width: 5%;
        left: 1300px;
        bottom: 50px;
    }

    .fixed-shark i {
        left: 1350px;
        bottom: 90px;
    }

    .fixed-shark i span {
        left: 1361px;
        bottom: 98px;
    }

    .last-fixed {
        width: 22%;
        left: 980px;
        bottom: 50px ;
    }
}   